     <!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SPORTS BLOG</title>
   <link rel="stylesheet" href="/stylesheets/bootstrap.css">
   <link rel="stylesheet" href="/stylesheets/style.css">
  
</head>
<body>

   {{> navbar}}


 <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('/images/post-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>{{article.title}}</h1>
                        <h2 class="subheading">{{article.subtitle}}</h2>
                        <span class="meta">Posted by {{article.author}} on {{article.created_at}}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>



  <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                   {{article.body}}
                </div>
            </div>
        </div>
    </article>

    </body>
    </html>