{{> header}}

{{> navbar}}


    <!-- Main Content -->
    <div class="container all_articles">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            {{#each articles}}
                <div class="post-preview">
                    <a href="/articles/show/{{_id}}">
                        <h2 class="post-title">
                           {{title}}
                        </h2>
                        <h3 class="post-subtitle">
                           {{subtitle}}
                        </h3>
                    </a>
                    <p class="post-meta">Posted by {{author}} on {{created_at}}</p>
                </div>
                <hr>
               {{/each}}
            </div>
        </div>
    </div>

    {{> footer}}