  
 {{> header}}

 {{> navbar}}

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('/images/home-bg.jpg'); min-height: 600px">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Sports Blog</h1>
                        <hr class="small">
                        <span class="subheading">A simple sports based blog.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
              {{#each articles}}
                <div class="post-preview">
                    <a href="/articles/show/{{_id}}">
                        <h2 class="post-title">
                           {{title}}
                        </h2>
                        <h3 class="post-subtitle">
                           {{subtitle}}
                        </h3>
                    </a>
                    <p class="post-meta">Posted by {{author}} on {{created_at}}</p>
                </div>
                <hr>
               {{/each}}
            </div>
        </div>
    </div>

    <hr>

 {{> footer}}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="/javascripts/bootstrap.min.js"></script>
</body>
